<footer class="flex flex-row bg-[#524A4E]">
  <!-- coulumn_1 -->
  <div class="flex-1 py-[47px] pl-20">
    <img class="w-[197px] h-[57px]" src="assets/logo.svg" alt="header__logo" />
    <p class="py-5 text-sm font-medium text-[#FFF] leading-[164%]">
      © PT. Kalisa Sehat Sejahtera. Tidak ada produksi ulang secara keseluruhan
      atau sebagian tanpa izin tertulis. All Rights Reserved. Semua merek dagang
      dan perdagangan pakaian yang dipamerkan dalam situs ini, kecuali
      dinyatakan lain, adalah milik PT. Kalisa Sehat Sejahtera.
    </p>
    <p class="text-sm font-medium text-[#FFF] leading-[164%]">
      © Copyright 2022 | PT. Kalisa Sehat Sejahtera
    </p>
  </div>
  <!-- coulumn_2 -->
  <div
    class="flex flex-col flex-1 text-right justify-start items-end pr-20 py-[47px]"
  >
    <ul class="flex space-x-5">
      <li>
        <a href="">
          <img src="/assets/icon/fb.svg" alt="facebook icon" />
        </a>
      </li>
      <li>
        <a href="">
          <img src="/assets/icon/ig.svg" alt="instagram icon" />
        </a>
      </li>
      <li>
        <a href=""> <img src="/assets/icon/tweet.svg" alt="twitter icon" /></a>
      </li>
      <li>
        <a href="">
          <img src="/assets/icon/youtube.svg" alt="youtube icon"
        /></a>
      </li>
    </ul>
    <p class="py-5 text-sm font-medium text-[#FFF] leading-[164%]">
      TENTANG KAMI <br />
      KEBIJAKAN PRIVASI <br />
      SYARAT & KETENTUAN
    </p>
    <p class="py-2 text-sm font-medium text-[#FFF]">
      <span>
        <img
          class="inline-block pr-1"
          src="/assets/icon/telpon.svg"
          alt="Telephone icon"
        />
        026-5264-4190
      </span>
    </p>
    <p class="text-sm font-medium text-[#FFF] leading-[164%]">
      Jl. Raya Kalipucang No.232, Kalipucang, <br />
      Kec. Kalipucang, Kab. Pangandaran, <br />
      Jawa Barat 46397
    </p>
  </div>
</footer>
