<main>
  <section>
    <div class="h-[639px] relative">
      <img
        src="/assets/peluang-bisnis/image-1.png"
        class="w-full h-full object-cover"
        alt="image-1"
      />
      <div
        class="text-white absolute flex flex-col left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2"
      >
        <h1
          class="text-center text-5xl font-bold underline decoration-4 underline-offset-[14px]"
        >
          TENTANG KAMI
        </h1>

        <p class="py-10 text-center text-lg font-semibold">
          Kami membuka suatu peluang bisnis untuk pelanggan kami dengan
          fleksibel dari PT. Kalisa Sehat Sejahtera. Bergabung dan buatlah suatu
          jaringan bisnis yang menyenangkan dengan berbagai macam paket plan
          yang profitable.
        </p>
        <button
          class="p-2 m-auto rounded-full bg-[#FDEFF4] w-full max-w-[200px]"
        >
          <span class="text-lg font-semibold text-[#524A4E]">
            PELUANG BISNIS
          </span>
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="text-center content flex flex-col items-center py-20">
      <p class="text-[#524A4E] max-w-[762px] text-lg font-semibold py-10">
        PT. Kalisa Sehat Sejahtera bukan sekedar bisnis biasa pada umumnya.
        Dengan produk yang kami ciptakan anda dapat mencapai impian anda menjadi
        sukses dan meningkatkan kesadaran hidup sehat dan sejahtera. Buatlah
        suatu perubahan dala hidup anda mulai sekarang dan ajak orang-orang
        sekitar untuk membantu meningkatkan kehidupan mereka.
      </p>
      <div>
        <h2 class="text-center text-[#524A4E] text-4xl font-bold py-4">
          MEMBANGUN BISNIS ANDA SENDIRI
        </h2>
        <p class="text-[#524A4E] max-w-[994px] text-lg font-semibold py-7">
          Bekerja dengan waktu yang fleksibel menjadi salah satu tujuan Kalisa
          Sehat Sejahtera. Bebaskan diri Anda dari rutinitas ‘9 hingga 5’ -
          rancang jadwal Anda dan tentukan jam kerja Anda sendiri. Bangun bisnis
          Anda yang dapat disesuiaikan dengan gaya hidup Anda Ketika
          fleksibilitas terbukti memiliki pengaruh positif yang sangat besar
          pada keseimbangan kehidupan kerja, peluang seperti ini bisa menjadi
          apa yang Anda butuhkan.
        </p>
        <p class="text-[#524A4E] text-lg font-bold">
          Daftar hari ini dan jadilah Member Kalisa Sehat Sejahtera.
        </p>
      </div>
    </div>
    <div class="picture">
      <div class="misi">
        <div class="misi-content flex flex-wrap justify-center py-10">
          <div class="w-full max-w-[387px]">
            <img src="/assets/peluang-bisnis/image-2.svg" alt="misi-1" />
            <h2 class="text-[#524A4E] text-2xl font-bold py-2">
              ATUR JAM KERJA ANDA
            </h2>
            <p>
              Anda memiliki kebebasan untuk menjadi bos Anda sendiri dan bekerja
              di jam Anda yang telah Anda atur sendiri. Bekerja secara paruh
              waktu atau penuh waktu - itu adalah pilihan Anda.
            </p>
          </div>
          <div class="w-full max-w-[387px]">
            <img src="/assets/peluang-bisnis/image-3.svg" alt="misi-2" />
            <h2 class="text-[#524A4E] text-2xl font-bold py-2">
              KERAGAMAN PRODUK
            </h2>
            <p>
              Kalisa Sehat Sejahtera menawarkan berbagai Paket Produk untuk
              menjalankan bisnis Anda. Apakah Anda memiliki minat pada
              kecantikan, perawatan kulit atau lainnya yang disesuaikan dengan
              kebutuhan Anda. Itu pilihan Anda.
            </p>
          </div>
          <div class="w-full max-w-[387px]">
            <img src="/assets/about-us/image-10.png" alt="misi-3" />
            <h2 class="text-[#524A4E] text-2xl font-bold py-2">
              PELATIHAN BISNIS
            </h2>
            <p>
              Dengan perangkat pendukung dan pelatihan ahli, Anda akan menemukan
              segalanya di sini untuk membangun bisnis Anda. dengan pelatihan
              ini anda akan dibimbing melaluli materi yang disediakan sampai
              bisnis anda pecah telur
            </p>
          </div>
          <div class="w-full max-w-[387px]">
            <img src="/assets/about-us/image-11.png" alt="misi-4" />
            <h2 class="text-[#524A4E] text-2xl font-bold py-2">
              SUPPORT WEBSITE
            </h2>
            <p>
              Dengan adanya website support yang disediakan akan menjadikan
              bisnis anda menjadi lebih profesional dan meningkatkan traffic
              untuk penjualan anda
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center button-pink pt-2 pb-72">
      <button class="rounded-full bg-[#FF5C8D] w-[347px] h-[67px]">
        <span class="text-[#FDEFF4] text-2xl font-semibold">DAFTAR DISINI</span>
      </button>
    </div>
  </section>
</main>
