<main>
  <section>
    <div class="h-[639px] relative">
      <img
        class="w-full h-full object-cover"
        src="/assets/about-us/image-7.png"
        alt="gedung"
      />
      <div
        class="text-white absolute flex flex-col left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2"
      >
        <h1
          class="text-center text-5xl font-bold underline decoration-4 underline-offset-[14px]"
        >
          TENTANG KAMI
        </h1>

        <p class="py-10 text-center text-lg font-semibold">
          Kami berdiri pada tahun 2021, dengan nama PT. Kalisa Sehat Sejahtera
          yang telah menunjukan pendekatan yang berbeda untuk bisnis. Kami
          memulai dengan konsep inovatif berpadu dengan produk-produk
          berkualitas tinggi dan peluang bisnis yang dapat diikuti oleh orang
          awam sekaligus dengan system yang profitable.
        </p>
        <button
          class="p-2 m-auto rounded-full bg-[#FDEFF4] w-full max-w-[200px]"
        >
          <span class="text-lg font-semibold text-[#524A4E]">
            SELENGKAPNYA
          </span>
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="visi">
      <h2 class="text-center text-[#524A4E] text-4xl font-bold py-4">
        VISI KAMI
      </h2>
      <p class="m-auto text-center py-4 w-full max-w-[762px]">
        Mencapai masa depan cerah dengan hidup yang lebih sehat dan sejahtera
        dan menciptakan produk yang berkualitas dengan permintaan pasar saat ini
        yang memiliki manfaat untuk sesama.
      </p>
    </div>
    <div class="misi">
      <h2 class="text-center text-[#524A4E] text-4xl font-bold py-4">
        MISI KAMI
      </h2>
      <div class="misi-content flex flex-wrap justify-center py-10">
        <div class="w-full max-w-[387px]">
          <img src="/assets/about-us/image-8.png" alt="misi-1" />
          <p>
            Memperkenalkan serta mengedukasi tentang apa itu bisnis era
            bagaimana untuk menguasai pasar digital dengan materi yang mudah
            yang mudah dipahami dan terus mengikuti update.
          </p>
        </div>
        <div class="w-full max-w-[387px]">
          <img src="/assets/about-us/image-9.png" alt="misi-2" />
          <p>
            Menciptakan produk yang berkualitas dengan banyak permintaan
            pasar sehingga mudah untuk dijual secara offline maupun online
            dengan harga ekonomis profit naik drastis.
          </p>
        </div>
        <div class="w-full max-w-[387px]">
          <img src="/assets/about-us/image-10.png" alt="misi-3" />
          <p>
            Mencapai kesuksesan bersama dengan hidup yang lebih sehat dan
            sejahtera serta memberi manfaat untuk sesama.
          </p>
        </div>
        <div class="w-full max-w-[387px]">
          <img src="/assets/about-us/image-11.png" alt="misi-4" />
          <p>
             Menciptakan bisnis yang jujur dan Amanah guna untuk meningkatkan
            kepercayaan masyarakat.
          </p>
        </div>
      </div>
    </div>
    <div class="prinsip text-center">
      <h2 class=" text-[#524A4E] text-4xl font-bold py-4">PRINSIP KAMI</h2>
      <p class="m-auto py-4 w-full max-w-[762px]">
        Menciptakan bisnis yang sehat dan permintaan produk yang terus meningkat
        melalui distributor kami yang tersebar diseluruh kota besar di
        Indonesia. Kami berkomitmen untuk meningkatkan perekonomian pelanggan
        kami. Jaringan distributor membawa produk kami kepada masyarakat dan
        membuatnya mudah diakses oleh pelanggan kami.
      </p>
    </div>
    <div class="tim text-center">
      <h2 class=" text-[#524A4E] text-4xl font-bold py-4">TIM KAMI</h2>
      <p class="m-auto py-4 w-full max-w-[762px]">
        Tim kami yang berasal dari berbagai macam latar belakang bisnis dan
        pengalaman dengan jiwa muda yang membara menggabungkan ide - ide brilian
        akan menciptakan suatu sitem bisnis yang luar biasa.
      </p>
    </div>
  </section>
</main>
