main {
  background: linear-gradient(
    110deg,
    #f3ce9e -1.73%,
    rgba(244, 139, 123, 0.72) 49.09%,
    rgba(229, 76, 145, 0.78) 91.15%
  );
  height: 100vh;
  overflow: hidden;
  display: flex;
}

section {
  /* border: 1px solid red; */
}

.pelangi {
  border-radius: 49.615px;
  background: linear-gradient(180deg, #e54c91 0%, #f48b7b 49.6%, #f7ad50 100%);
  box-shadow: 0px 9.923px 39.692px 9.923px rgba(0, 0, 0, 0.25);
}

.login-password {
  /* border-radius: 10px; */
  background: radial-gradient(
    68.44% 67.52% at 55.15% 32.68%,
    rgba(229, 76, 145, 0.39) 0%,
    rgba(244, 139, 123, 0.24) 100%
  );
  margin-left: -3rem;
}

.text-school {
  background: linear-gradient(94deg, #f7ad50 57.37%, #eb4335 90.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1.68px;
  font-size: 48px;

  /* font-style: normal;
font-weight: 600;
line-height: normal; */
}

/* .facebook {
  color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
} */

input[type="email"],
input[type="password"] {
  background: transparent;
  color: #fff;
  width: 90%;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #000;
  border: 3px solid #1a1919;
  padding: 10px;
  /*

  padding: 10px;
  margin-bottom: 20px;


   */
}

.input-container {
  position: relative;
}

.input-container img {
  position: absolute;
  right: 12%; /* Adjust the distance from the right */
  top: 70%;
  transform: translateY(-60%);
  width: 34px; /* Adjust the icon size */
}

.animation-button {
  border: 1px solid black;
  box-shadow: 3px 7px 1px 7px #000;
  cursor: pointer;
  transition:
    transform 0.1s,
    box-shadow 0.1s;
}

.animation-button.active:active {
  transform: translateY(10px);
  /* transform: scale(1.2); */
  box-shadow: none;
}

.disabled-button {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: 3px 7px 1px 7px #000;
}

/* // 'disabled-button' is applied when the form is invalid. */
/* // 'active' is applied when the form is valid. */
