<main>
  <section class="col-1 flex flex-col justify-between">
    <h1 class="text-[#FFF] text-8xl font-bold tracking-[22px] p-10">LOGIN_</h1>
    <div class="svg w-[200px] p-10">
      <img class="w-full h-full" src="/assets/login/svg-1.svg" alt="svg" />
    </div>
  </section>

  <section class="col-2 w-full flex flex-col justify-center">
    <div class="bg-white flex p-5 rounded-lg">
      <div class="pelangi w-[500px] h-[700px] relative">
        <img
          class="absolute z-10"
          src="/assets/login/image-2.png"
          alt="image-2"
        />
        <img
          class="absolute z-[0] left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2"
          src="/assets/login/svg-2.svg"
          alt="svg-2"
        />
      </div>
      <div class="login-password flex-1 border border-amber-400">
        <h2 class="text-5xl font-semibold pl-20 pt-10">
          Welcome back to <span class="text-school">school,</span>
        </h2>
        <div>

        </div>
      </div>
    </div>
  </section>
</main>
