<main>
  <section class="col-1 flex flex-col justify-between">
    <h1 class="text-[#FFF] text-8xl font-bold tracking-[22px] p-10">LOGIN_</h1>
    <div class="svg w-[200px] p-10">
      <img class="w-full h-full" src="/assets/login/svg-1.svg" alt="svg" />
    </div>
  </section>

  <section class="col-2 w-full flex flex-col justify-center">
    <div class="bg-white flex p-5 rounded-lg">
      <div class="pelangi w-[500px] h-[700px] relative">
        <img
          class="absolute z-10"
          src="/assets/login/image-2.png"
          alt="orang-laptop"
        />
        <img
          class="absolute z-[0] left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2"
          src="/assets/login/svg-2.svg"
          alt="garis-putih"
        />
      </div>
      <div class="login-password flex-1 border border-amber-400">
        <h2 class="text-5xl font-semibold pl-20 pt-10">
          Welcome back to <span class="text-school">school,</span>
        </h2>
        <div class="flex justify-evenly py-10 border border-amber-400">
          <div class="flex rounded-md border-[3px] border-black p-3">
            <img class="w-7" src="/assets/login/google.svg" alt="google" />
            <span class="text-lg font-light tracking-[4.4px] pl-4">Google</span>
          </div>
          <div class="flex rounded-md border-[3px] border-black p-3">
            <div
              class="flex justify-center items-center bg-[#1877F2] w-8 h-8 rounded-full"
            >
              <span class="facebook text-[#fff] text-2xl font-bold">f</span>
            </div>
            <span class="text-lg font-light tracking-[4.4px] pl-2">
              Facebook
            </span>
          </div>
        </div>
        <div class="flex justify-center">
          <span>OR</span>
        </div>
        <div class="py-3">
          <form class="pl-20 pr-4" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="input-container pt-5">
              <label class="text-xl tracking-[10px]" for="email">Email</label>
              <input
                name="email"
                id="email"
                type="email"
                [maxLength]="25"
                placeholder="email"
                [(ngModel)]="email"
                required
                #emailInput="ngModel"
              />
              <img src="/assets/login/email.svg" alt="email" />
              <div
                class="relative pt-3"
                *ngIf="
                  emailInput.invalid && (emailInput.dirty || emailInput.touched)
                "
              >
                <small
                *ngIf="emailInput.errors?.['required']"
                  class="absolute text-red-500"
                >
                  Email required.
                </small>
                <small
                *ngIf="emailInput.errors?.['email']"
                  class="absolute text-red-500"
                >
                  Email not valid.
                </small>
              </div>

            </div>

            <div class="input-container pt-5 pb-2">
              <label class="text-xl tracking-[10px]" for="password">
                Password
              </label>
              <input
                name="password"
                id="password"
                type="password"
                [maxLength]="10"
                placeholder="password"
                [(ngModel)]="password"
                required
                #passwordInput="ngModel"
              />
              <img src="/assets/login/password.svg" alt="password" />
              <div
                class="relative pt-3"
                *ngIf="
                  passwordInput.invalid &&
                  (passwordInput.dirty || passwordInput.touched)
                "
              >
                <small
                  *ngIf="passwordInput.errors?.['required']"
                  class="absolute text-red-500"
                >
                  Password is required**
                </small>
              </div>
            </div>
            <p class="py-3">
              Don’t have account sign up,
              <span class="text-[#F4509A]">here</span>
            </p>
            <div class="relative bg-black">
              <button
                [disabled]="loginForm.invalid"
                type="submit"
                class="animation-button absolute items-center rounded-md right-[10%] pt-5 pr-20"
                [ngClass]="{
                  'disabled-button': loginForm.invalid,
                  active: !loginForm.invalid,
                }"
              >
                <span class="relative left-[100%] bottom-[10px] text-black">
                  Login
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- <form [formGroup]="emailForm" (ngSubmit)="onSubmitx()">
  <input
    type="email"
    formControlName="email"
    placeholder="Enter your email"
    required
  />
  <div
    *ngIf="
      emailControl &&
      emailControl.invalid &&
      (emailControl.dirty || emailControl.touched)
    "
  >
    <small *ngIf="emailControl.errors?.['required']">Email is required.</small>
    <small *ngIf="emailControl.errors?.['email']">Invalid email format.</small>
  </div>
  <button type="submit" [disabled]="emailForm.invalid">Submit</button>
</form> -->

<!-- <small *ngIf="email && !validateEmail(email)" class="absolute text-red-500">
  Invalid email format.
</small> -->
