.containerx {
  position: relative;
  width: 100%;
  height: 633px;
  /* border: 1px solid pink; */
}

.containerx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div {
  /* border: 1px solid salmon; */
}

.grid-container {
  /* padding-left: 10%;
  padding-right: 10%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%;
}

.grid-container div {
  padding-top: 1.7rem;
}

section .grid-item {
  height: 400px;
}
