<main>
  <section>
    <div class="containerx">
      <img src="/assets/home/portrait.png" alt="girl__picture" />
      <div class="absolute top-40 left-20">
        <p
          class="text-[#524A4E] text-5xl italic font-semibold leading-[115.5%]"
        >
          HIDUP LEBIH SEHAT <br />
          DAN SEJAHTERA
        </p>
        <p class="bg-[#524A4E] w-[320px] h-1"></p>

        <p class="pt-5 pb-16 text-2xl font-medium text-white">
          Mulailah hari anda dengan <br />
          perawatan yang sehat dan alami
        </p>
        <button class="bg-[#FF5C8D] w-[192px] h-[40px] text-white rounded-full">
          SELENGKAPNYA
        </button>
      </div>
    </div>
  </section>
  <section class="flex justify-center py-16">
    <div class="relative px-3">
      <img src="/assets/home/image-1.png" alt="image-1" />
      <button
        class="absolute rounded-md left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2 w-[12rem] h-[4rem] bg-[#FDEFF4]"
      >
        <span class="text-[#524A4E] text-lg font-semibold">TENTANG KAMI</span>
      </button>
    </div>
    <div class="relative px-3">
      <img src="/assets/home/image-2.png" alt="image-2" />
      <button
        class="absolute rounded-md left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2 w-[12rem] h-[4rem] bg-[#FDEFF4]"
      >
        <span class="text-[#524A4E] text-lg font-semibold">PRODUK</span>
      </button>
    </div>
    <div class="relative px-3">
      <img src="/assets/home/image-3.png" alt="image-3" />
      <button
        class="absolute rounded-md left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2 w-[12rem] h-[4rem] bg-[#FDEFF4]"
      >
        <span class="text-[#524A4E] text-lg font-semibold">PELUANG BISNIS</span>
      </button>
    </div>
  </section>
  <section>
    <div class="grid-container px-24">
      <div class="grid-item flex flex-col h-[376px] pt-12">
        <h1 class="text-2xl text-[#FF5C8D] italic font-bold">
          GAPAI IMPIAN HIDUP YANG SEHAT <br />
          DAN SEJAHTERA
        </h1>
        <p
          class="text-lg text-[#524A4E] text-justify font-medium uppercase pt-[12px] leading-8 grow  overflow-y-scroll"
        >
          Apa rahasia awet muda? Menjalani hidup setiap hari dengan optimisme
          dan dan dan keyakinan untuk melakukan apa yang Anda cintai sepanjang
          hidup Anda. <br />
          Kami percaya bahwa rahasia awet muda bukan hanya terletak pada
          perawatan fisik, tetapi juga pada keseimbangan emosi dan mental.
          Dengan mengadopsi pola hidup sehat, tetap aktif, dan menjaga pikiran
          tetap positif, Anda dapat merasakan manfaat luar biasa dari cara hidup
          yang seimbang. Produk-produk kami dirancang untuk mendukung gaya hidup
          sehat Anda dengan formulasi canggih yang menggabungkan pengetahuan
          ilmiah terbaru dan bahan-bahan alami berkualitas tinggi.
        </p>
      </div>
      <div class="grid-item">
        <img
          class="w-full h-full object-cover"
          src="/assets/home/image-6.png"
          alt="image-6"
        />
      </div>
      <div class="grid-item">
        <img
          class="w-full object-contain"
          src="/assets/home/image-7.png"
          alt="image-7"
        />
      </div>
      <div class="grid-item">
        <h1 class="text-2xl text-[#FF5C8D] italic font-bold">
          RACIKAN DENGAN KOMBINASI SEMPURNA HASIL RISET LAB
        </h1>
        <p class="text-base font-medium uppercase text-[#524A4E] pt-[12px]">
          Memanfaatkan yang terbaik dari alam untuk memberikan hasil terbaik
          adalah misi pribadi kami. Kami menggabungkan bahan kandungan yang
          bermanfaat dengan ilmu pengetahuan dan teknologi yang inovatif.
          Hasilnya? Produk-produk kelas dunia yang memberikan manfaat nyata.
        </p>
      </div>
    </div>
  </section>
  <div class="w-full h-[200px]">
    <img class="w-full h-full object-cover" src="/assets/home/image-6.png" />
  </div>
</main>
